<section class="about text-white d-flex justify-content-center align-items-center">
    <div class="container">
        <div>
            <h2 class="text-center">about component</h2>
            <div class="icon-With-Lines my-3">
                <div class="line left"></div>
                <i class="fa fa-star"></i>
                <div class="line right"></div>
            </div>
            <div class="d-flex justify-content-center align-items-center gap-4">
                <div>
                    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                </div>
                <div>
                    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                </div>
            </div>
        </div>
    </div>
</section>
