.contact
{
    background-color:#fff;
    height: 85vh;
    color: #2C3E50;
}
.icon-With-Lines
{
    display: flex;
    align-items: center;
}
.line
{
    flex-grow: 1;
    height: 5px;
    background-color:#2C3E50;
    
}
.line.left
{
    margin-right: 10px;
}
.line.right
{
    margin-left: 10px;
}
h2
{
    font-weight: 500;
    font-size: 70px;
}

.form-control-underline {
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    box-shadow: none;
}
.form-control-underline:focus {
    border-bottom: 2px solid;
    outline: none;
    box-shadow: none;
}

