<section class="contact d-flex justify-content-center">
    <div>
        <h2>conatct section</h2>
        <div class="icon-With-Lines my-3">
            <div class="line left"></div>
            <i class="fa fa-star"></i>
            <div class="line right"></div>
        </div>
        <div class="container w-100">
            <form>
        <div class="form-group">
            <input type="text" class="form-control form-control-underline mt-5" id="customInput" placeholder="userName">
            <input type="text" class="form-control form-control-underline mt-5" id="customInput" placeholder="userAge">
            <input type="text" class="form-control form-control-underline mt-5" id="customInput" placeholder="userEmail">
            <input type="text" class="form-control form-control-underline mt-5" id="customInput" placeholder="userPassword">
        </div>
            </form>
            <button type="button" style="background-color: #1ABC9C;" class="btn mt-4">send message</button>
        </div>
    </div>

</section>
